/* body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lightgray !important;
} */
.receipt-form{
    background-color: white;
    width: 40% !important;
    text-align: center;
}
/* .header-receipt{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
} */

.date {
    text-align: end;
}

.table {
    text-align: left;
}

.table-head {
    text-align: left;
}

thead {
    border-top: dashed;
    border-bottom: dashed;
}

.table td,
.table th {
    border-top: 0px !important;
}

.table .dotted {
    border-top: dashed black !important;
}

.table .dotted-1 {
    border-top: solid black !important;
    border-bottom: solid black !important;
}

tbody {
    font-size: 1.15rem !important;
}

.thanks {
    font-size: 2rem !important;
}

.logo img {
    height: 15vmin;
    margin-bottom: 20px;
}

@media screen and (max-width:1610px) {
    tbody {
        font-size: 1.10rem !important;
    }

    .total h1 {
        font-size: 2rem !important;
        margin-top: 8px !important;
    }
}

@media screen and (max-width:1485px) {
    tbody {
        font-size: 1.0rem !important;
    }

    .total h1 {
        font-size: 1.6rem !important;
        margin-top: 8px !important;
    }

    .header h3 {
        font-size: 1.3rem !important;
    }

    .table-head h3 {
        font-size: 1.3rem !important;
    }
}

@media screen and (max-width:1350px) {
    .container {
        width: 55% !important;
    }
}

@media screen and (max-width:985px) {
    .container {
        width: 65% !important;
    }

    tbody {
        font-size: 0.8rem !important;
    }

    .total h1 {
        font-size: 1.5rem !important;
        margin-top: 8px !important;
    }

    .header h3 {
        font-size: 1.2rem !important;
    }

    .table-head h3 {
        font-size: 1.2rem !important;
    }

    .totals h1 {
        font-size: 1.4rem !important;
    }

    .thanks {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 75% !important;
    }

    .table-head h3 {
        font-size: 1.1rem !important;
    }

    .total h1 {
        font-size: 1.2rem !important;
    }

    .totals h3 {
        font-size: 1.5rem !important;
    }

    .thanks {
        font-size: 1.4rem !important;
    }
}

@media screen and (max-width:619px) {
    .container {
        width: 90% !important;
    }

    .table-head h3 {
        font-size: 1.0rem !important;
    }

    .total h1 {
        font-size: 1.1rem !important;
    }

    .totals h3 {
        font-size: 1.4rem !important;
    }

    .thanks {
        font-size: 1.3rem !important;
    }

    .bill-no h3 {
        font-size: 1.1rem !important;
    }

    .date h3 {
        font-size: 1.1rem !important;
    }
}

@media screen and (max-width:619px) {
    .container {
        width: 100% !important;
    }
}

@media screen and (max-width:400px) {
    .bill-no h3 {
        font-size: 0.9rem !important;
    }

    .date h3 {
        font-size: 1rem !important;
    }
    .total h1 {
        font-size: 1rem !important;
    }

    .totals h3 {
        font-size: 1.2rem !important;
    }

    .thanks {
        font-size: 1.1rem !important;
    }
}